.bottone {
    background-color: rgba(211, 211, 211, 0.219);
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    border: 0px;
    border-radius: 2px;
    padding: 9px 15px 9px 15px;
    position: relative;
    top: 28px;
    left: 95px;
    font-family: arial, sans-serif;
}

.bottone:hover {
    color: rgba(0, 0, 0, 0.825);
    border: 1px solid;
    border-color: rgba(177, 170, 170, 0.5);
}

#cerca {
    border: solid;
    border-radius: 25px;
    border-width: 1px;
    border-color:rgba(177, 170, 170, 0.25);
    width: 550px;
    height: 45px;
    position: relative;
    right: 50px;
}

#flex_bottoni {
    display: flex;
    flex-direction: column;
}

#logo {
    position: relative;
    left: 94px;
    bottom: 33px;
}

body {
    margin-top: 11vw;
    margin-left: 38vw;
}

#cerca > input {
    border: none;
    outline: none;
    width: 490px;
    position: relative;
    top: 7px;
    left: 15px;
    font-size: 16px;
}

#cerca > img {
    position: relative;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 15px;
    opacity: 0.4;
}

#cerca:hover, #cerca:focus-within {
    box-shadow: 0px 0px 5px 1px rgba(223, 222, 222, 0.8);
}

#apps {
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

nav {
    position: relative;
    bottom: 9.8vw;
    right: 36vw;
    width: 97vw;
}

a {
    color:rgba(26, 26, 26, 0.98);
    text-decoration: unset;
    font-size: 13px;
    font-family: arial, sans-serif;
}

a:hover {
    text-decoration: underline;
}

#flex_link {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#primi > a{
    margin: 5px;
}

#ultimi {
    width: 240px;
    position: relative;
}

#ultimi > * {
    margin: 5px;
    position: absolute;
    bottom: -5px;
}

#sign_in {
    border-radius: 5%;
    padding: 6px 12px 6px 12px;
    background-color: rgb(12, 151, 231);
    color: white;
    font-weight: 600;
    font-size: 13px;
    border: none;
}

footer {
    background-color: rgba(202, 202, 202, 0.25);
    border-top: 1px solid rgba(202, 202, 202, 0.5);
    position: absolute;
    bottom: 0vw;
    left: 0vw;
    right: 0.04vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}

footer > div > a {
    font-size: 14px;
    color: rgb(88, 88, 88);
    font-weight: 500;
    letter-spacing: 0px;
    margin: 0px 10px 0px 10px;
}